@if (deliveryLocations != null)
{
    <h5>Delivery Locations</h5>
    <table class="table" style="width:50%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Total Weight</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var location in deliveryLocations)
            {
                <tr>
                    <td>@location.Name</td>
                    <td>@location.TotalWeight</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    [Parameter]
    public List<DeliveryLocation> deliveryLocations { get; set; }

}
